:root {
  --primary-bg-color: #171717;
  --secondary-bg-color: #262626;
  --primary-text-color: antiquewhite;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--primary-text-color);
}

body {
  background-color: var(--primary-bg-color);
}

.container {
  background-color: var(--secondary-bg-color);
  padding: 1rem;
  border-radius: 1rem;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-bar > ul {
  list-style: none;
}
